body {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav-anchor {
    margin-left: 10px;
}
.nav-anchor2 {
    margin-top: 20px;
}
.nav div {
    padding:6px;
}
.nav div .nav-anchor p a {
    text-decoration: none;
}
.nav .nav-anchor p a img {
    width: 30px;
    height:30px;
}
.nav .nav-anchor .baby a img {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
.nav .nav-anchor2:hover {
    text-decoration: underline;
}
.nav .nav-anchor p a:hover{
    padding: 10px;
    border-width: 30px;
    border-radius: 50%;
    background-color: #EDEDED;
    text-decoration: none;
}
.first-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-container :first-child img{
    width: 270px;
    height: 100px;
}
.first-container:nth-child(2) form input {
    margin-top: 30px;
    border-radius: 20px;
    height: 40px;
    width: 550px;
    border: 1px solid#D8D9CF;
}
.flex {
    display: flex;
    padding:15px;
}
.flex .flex1{

    padding: 10px; 
    background-color:#EEEEEE ;
}
.flex .flex2{
    margin-left: 10px;
    padding: 10px; 
    background-color:#EEEEEE ;
}
.flex .flex1 a{
    text-decoration: none;
}
.flex .flex2 a{
    text-decoration: none;
}
.flex .flex1:hover {
    text-shadow: #9DB2BF;
}
.second-container{
    padding: 10px;
    margin-top: 10px;
    height: 180px;
}
.current{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self:center;

    height: 150px;
    margin-left: 490px;
    margin-right: 450px;
    margin-top: 0%;
}

.current div a {
    text-decoration: none;
    display:block;
    padding: 15px;
}
.current div a:hover{
    background-color: rgba(241, 243, 244, 1.00);
    border: 1px solid rgba(241, 243, 244, 1.00);
}
.current div a img {
    width: 22px;
    height: 22px;
    padding:10px;
    background-color:rgba(241, 243, 244, 1.00);
    border-radius: 50%;
}
.footer  {
    margin-bottom: 0;
    display:flex;
    justify-content: flex-end;
}
.footer p img {
    width: 15px;
    height: 15px;
    
}
.footer :last-child{
    margin-right: 20px;
    color:#4B56D2 ;
}